/* css resets */
body,h1,h2,h3,p{
    margin:0;
    text-align: center;
}
.weekly-total{
    margin:0;
}
h1{
    font-family: 'Press Start 2P', cursive, sans-serif;
}
.background-helper{
    position: relative;
}
.background {
    content:'';
    background-image: url(./image/raining-dollarsign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    object-fit: cover;
    width:100vw;
    height:100vh;
    z-index:-1;
    opacity: 0.5; /* Here is your opacity */
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.logo{
    width: 75px;
    margin-top: 10px;    
}
.navigation{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: rgba(0,0,0, 0.8);
    border-top: 2px solid;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 5px 10px 0 10px;
    }
a{
    text-decoration: none;
    color: unset;
    color:rgba(255, 255, 255, 0.5);
}
a:hover{
    color: #ffff;
}

.form-container{
    display: flex;
    flex-direction: column;
    height:225px;
    width: 50vw;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgba(230,166,21,0.8), rgba(245,245,245,0.8));
    padding: 10px;
    /* align-items: center; */
}

.purchases-container{
    display: flex;
    flex-direction: column;
    padding-top:10px;
}
.purchase{
    margin-top: 10px;
    
}
.navigation-desk{
    display: none;
}
.tracker-content{
    display: flex;
    justify-content: space-between;


}
.tracker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    padding-top: 10px;
    }
    .button{
        border-radius: 25px;
        background-color: rgba(235, 215, 177, 0.6);
        border-style:outset ;
        padding: 5px;
    }
    .inputs{
        border-radius: 25px;
        padding: 5px;
        border-style: outset;
    }
    input:focus, textarea{
        outline: none !important;
    }
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    p{
        text-align: left;
        padding-top: 10px;
    }
    .popup{
        position: fixed;
        top: 0px;
        right: 0px; 
    background-color: rgba(0,0,0, 0.8);
        height: 100vh;
        width: 100vw;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .popup-text{
        background-color: rgba(245, 245, 245,0.8);
        font-size: 20px;
        padding: 10px;
        border-radius: 25px;
    }
    .popup-two{
        position: fixed;
        top: 0px;
        right: 0px; 
    background-color: rgba(0,0,0, 0.8);
        height: 100vh;
        width: 100vw;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .popup-text-two{
        background-color: rgba(245, 245, 245,0.8);
        font-size: 20px;
        padding: 10px;
        border-radius: 25px;
    }
    .lists{
        display:none;
        list-style-type: none;
        border-radius: 15px;
        padding: 5px;
        text-align: left;
    }
    .show-list{
        display:block;
    }

    .category{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    


@media only screen and (min-width:768px){
    .background{
        background-image:url(./image/raining-money.jpg);
    }
    h1{
        padding-left: 50px;
    }
    p{
        text-align: left;
        font-size: 24px;
        padding: 30px;
    }
    .desk-header{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    }
    .title{
        display: flex;
        align-items: center;
    }
    .logo{
        padding-left: 10px;
        padding-right: 15px;
    }
    .navigation-desk{
        display: flex;
    }
    .desk-list{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 5px 10px 0 10px;
        }
    .navigation{
        display: none;
    }
    .desk-option{
        padding-left: 10px;
    }
    a{
        text-decoration: none;
        color: unset;
        color: rgba(0, 0, 0, 0.863);
    }
    a:hover{
        color: black;
    }
    .desk-container{
        width: 100vw;
        height:75vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .form-container{
        height: 400px;
        width: 350px;
        justify-content: space-around;
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.4);
    }
    .purchases-container{
        flex: 2;
        padding-top: 20px;
        justify-content: space-between;
    }
    .tracker{
        height: 400px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(to bottom right, rgba(230,166,21,0.8), rgba(245,245,245,0.8));
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 10px;

    }
    .tracker-content{
        display: flex;
        justify-content: space-between;
        height: 350px;
    }
.budget{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
}
.button{
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.4);
}
}
